body {
    background-color: #FAFAFA;
    font-family: Roboto, sans-serif;
}

.hero-img {
    width: 100%;
    max-width: 520px;
    border-radius: 50%;
    border: 20px solid #fff;
    box-shadow: 0px 4px 31px #0000000A;
}

.expert {
    color: #C8242F;
    font-weight: bold;
}

.login-btn {
    background-color: #C8242F;
    border-radius: 23px;
    color: white;
}

.login-btn:hover {
    background-color: #a51d27;
}

.form-control {
    height: 49px;
}

.text-muted-custom {
    color: #ADADAD;
    font-size: 15px;
}

.register-link {
    color: #C8242F;
    text-decoration: none;
}

.form-floating > label{
    background: white;
    padding: 0 0.5rem;
    height: auto;
    top: 15px;
    left: 0.75rem;
    transform-origin: 0 0;
}

.form-floating > .form-control:focus ~ label, 
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: translateY(-100%) scale(0.85);
}