.icon{
    width: 20px;
}
body {
    background: #FAFAFA;
}

.sidebar {
    background: #fff;
}
.form-check-input:checked[type=radio] {
    accent-color: red;
}

form-check-input:checked {
    background-color: #ff0000;
    border-color: #ff0000; 
}

.nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #ff0000;
    font-weight: 500;
    background-color: white;
    color: red;
}
.nav-tabs .nav-link:not(.active){
    border: none;
    color: black;
}

.form-check-input:checked {
    background-color: #dc3545; 
    border-color: #dc3545; 
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    border-color: #dc3545;
}

.custom_input{
    margin-left: -15px;
}

.form-floating > label{
    background: white;
    padding: 0 0.5rem;
    height: auto;
    top: 15px;
    left: 0.75rem;
    transform-origin: 0 0;
    font-size: 16px;
}

.form-floating > .form-control:focus ~ label, 
.form-floating > .form-control:not(:placeholder-shown) ~ label {
    transform: translateY(-100%) scale(0.85);
    font-size: 16px;
}